<div style="float: left">
  <%= render 'form' %>
</div>


<div class="span4 pull-right withdraw_request_sidebar">
  <legend>
  <h4 style="color:green">Your balance is now <%= number_to_currency(current_user.balance.to_f, :prescision => 2) %></h4>
  </legend>
  <%= link_to 'Withdraw requests history', withdraw_requests_path %><br/>
  <%= link_to 'Transaction history',  wallet_user_path(current_user) %>
</div>