<div class="container-fluid" id="books-slider">
  <div class="container">
    <div class="row span10 offset1">
      <div class="row" id="books-slider-head">
        <div class="span2 nav-link active">
          <a href="javascript:;">JUST NOW</a>
        </div>
        <div class="span2 nav-link">
          <a href="javascript:;">POPULAR</a>
        </div>
      </div>
      <div class="row">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails">
                <li class="span4">
                  <div class="slide-content">
                    <%= image_tag Book.first.image_url(:thumb) %>
                  </div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul class="thumbnails">
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul class="thumbnails">
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
                <li class="span4">
                  <div class="slide-content"></div>
                </li>
              </ul>
            </div>
          </div>
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>
  </div>
</div>