<footer style="bottom:0px; position: absolute; background: #E3E3E3; width: 100%">
  <div class="copyright offset1 pull-left">Copyright © 2013 CampusWise, LLC. All Rights Reserved.</div>
  <div class="inner_footer_links offset5 pull-left">
    <%= link_to "Privacy Policy", '#'%>  |  
    <%= link_to "Terms & Conditions",'#' %>
  </div>
</footer>