<legend>
  <h3>My Bookshelf</h3>
</legend>
<div class="book-container">
  <% if @books.any? %>
    <div style="display:none;">
      <%= will_paginate @books %>
    </div>
    <%= render 'my_books' %>
  <% else %>
    <b><h3>Currently you have no books</h3></b>
  <% end %>
</div>

<script type="text/javascript">
  $(window).scroll(function(){
      if(window.pagination_loading){
        return
      }
      google_url = $('.next_page').attr('href');
      if(google_url && ($(window).scrollTop() > $(document).height() - $(window).height() - 300)){
        window.pagination_loading = true
        $.getScript(google_url).always(function(){
          window.pagination_loading = false
        });
      };
  });
</script>