.clear{
    clear: both;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inner{
    background-color: #333333;
    background-image: linear-gradient(to bottom, #393939, #252525);
    background-repeat: repeat-x;
    border: 0px;
    border-radius: 0px;
}

.navbar a.brand img{
    height: 40px;
    margin-top: -6px;
    margin-bottom: -5px;
}


.navbar .nav > li > a {
    color: #bbb;
    text-shadow: 0 1px 0 #222;
}

.navbar .nav > li > a:hover{
    color: #fff;
}

.navbar .school-name{
    color: white;
    margin-top: 12px;
}

.navbar .nav > li > a {
    height: 29px;
}

.nav.social{
    padding-top: 11px;
}

.nav.social li{
    margin-right: 10px;
}

#slider-container{
    background-color: #eee;
}


#slider img{
    display: none;
}

#slider img.show{
    display: block;
}

#slider img.hide{
    display: none;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.renting_text_container{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    z-index: 100;
}

@media (max-width: 800px){
    .renting_text_container{
        position: relative;
        left: 0px;
        margin-left: 0px;
        width: 100%;
        padding-top: 10px;
    }
}

/* Books Slider */

#books-slider{
    background: url('/assets/new_top_bg.png');
    height: 145px;
}

@media (max-width: 767px){
    #books-slider{
        margin-bottom: 200px;
    }
}

#books-slider-head{
    height: 43px;
}

#books-slider-head .nav-link{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding-top: 10px;
    font-weight: bold;
}

#books-slider-head .nav-link a{
    color: #fff;
}

#books-slider-head .nav-link.active a{
    color: #1D95CB;
}

.carousel,
.carousel-inner{
    margin-bottom: 0px;
}

.slide-content{
    width: 99%;
    height: 99px;
    border: 1px solid red;
}

#books-slider li.span4{
    margin-bottom: 0px;
}

#books-slider ul.thumbnails{
    margin-bottom: 0px;
}

/*  Footer Content */

#footer-top{
    background-color: #E0E0E0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.second_column.span2.offset1 img {
    float: left;
}

.social_link_title {
    display: inherit;
    margin-left: 14px;
    vertical-align: middle;
    text-decoration: none;
}

.contact_text {
    font-size: 12px;
    margin-left: 34px;
}

.third_column.span3 img {
    float: left;
}

.contact_segments {
    margin-top: 10px;
}

#footer-top h4{
    color: #464646;
    font-size: 16px;
}

#footer-top .about-us {
    color: #464646;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    line-height: 20px;
    text-align: justify;
}


#footer-bottom {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #536272;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover{
    text-decoration: none;
}