/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

@font-face {  font-family: "zag";  src: url('fonts/Zag Regular.otf') format("truetype");}
@font-face {  font-family: "ethon";  src: url('fonts/EthBlackEthon.ttf') format("truetype");}

/* HTML ELEMENTS */
body {  font:62.5% Georgia,'Times New Roman',serif; letter-spacing:1; }

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header { height:auto; }
.headerimg { background:#000 no-repeat center top; width:100%; height:600px; position:absolute; }



/* CONTROLS */
.btn { height:25px; width:21px; float:left; cursor:pointer; margin-top:32px; }
#back { background:url(/assets/btn_back.png) no-repeat; }
#next { background:url(/assets/btn_next.png) no-repeat; float:right }
#control { background:url(/assets/btn_pause.png) no-repeat; }
.txt_forget{color:#F00; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.txt_forget:hover{color:#F00; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none}
.txt_mbr{color:#FFF; font-size:24px; font-family:Arial; line-height:40px; text-transform:uppercase; padding:6px 0 0 20px}
.login_outer { width:500px; height:240px; margin:auto }
.login_bgps { background:url(/assets/bg_lgpsd.png) no-repeat center; width:500px; height:240px; float:left; margin:55px 0 55px 0 }
.data_txt{width:450px; height:auto; float:left; margin-left:10px;text-align:left;}
.count_img{width:115px; float:left; background:#FFF; border-radius:5px; padding:5px; text-align:center}
.container_nv{width:961px; height:auto; margin:auto;}
.midle_img{width:100%; height:140px; float:left; background:url(/assets/new_top_bg.png) repeat-x}
.top_bg{width:100%; height:48px; background:url(/assets/top_bg.png) repeat-x;}
.topnavigation{width:100%; height:48px; background:#333333;}
.logo{width:177px; height:32px; float:left; margin-top:2px}
.txtbox_top{width:213px; height:27px; float:left; background:url(/assets/textbox_bg.png) no-repeat; margin:10px 0 0 20px}
.textbox_213px{width:170px; height:24px; background:none; border:none; line-height:24px; color:#666; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-left:30px;outline:none;}
.browse{width:100px; height:auto; float:left; color:#FFF; font-family:Arial, Helvetica, sans-serif; line-height:48px; padding-left:15px; font-size:12px; font-weight:bold}
.sine_log{width:20%; height:auto;float:right;}
.sign_up{color:#fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:48px; text-transform:uppercase; padding:0 10px 0 10px; text-decoration:none;}
.sign_up:hover{color:#fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:48px; text-transform:uppercase;  text-decoration:none}
.banner_bg{width:50%; height:auto; float:left; padding-top:111px;margin-left:250px;}
.title_auth{width:100%; height:auto; float:left; padding-top:20px; padding-bottom:240px;}
.search_txtbox_brwser{width:453px; height:50px; float:left; border:1px solid #72736f; background:#fff; }
/*.search_txtbox{width:453px; height:50px; float:left; border:1px solid #72736f; background:#fff url(../images/mac.jpg) no-repeat;}*/
.search_txtbox{
    width:453px; 
    height:50px; 
    float:left; 
    border:1px solid #72736f; 
    background:#fff;
}
.search_txtbox_in{
    width:310px; 
    height:50px; 
    float:left; 
    background:#fff; 
    font-size:16px;  
    border:none;
    outline:none; 
    line-height:40px ; 
    vertical-align:middle;
}
.search_txtbox_in_firefox{
    width:343px; 
    height:50px; 
    float:left; 
    background:#fff; 
    font-size:16px;  
    border:none;
    outline:none; 
    line-height:40px ; 
    vertical-align:middle;
    padding: 13px;
    margin-left:-18px;
}
.textbox_at{width:300px; height:45px; float:left; color:#666; font-size:20px; font-family:Arial, Helvetica, sans-serif; line-height:45px; background:none; border:none; padding-left:10px;outline:none;}
.search_btn{width:115px; height:57px; float:left; margin-left:10px}
.menu_bg{width:100%; height:47px; background:#000; float:left; margin-top:60px;}
.navigation ul{width:100%; height:auto; float:left; margin:0; padding:0; list-style:none}
.navigation ul li{color:#FFF; font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:47px; text-decoration:none; float:left; padding:0 40px 0 0px; font-weight:bold}
.navigation ul li a{color:#FFF; font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:47px; text-decoration:none; float:left}
.navigation ul li a:hover{color:#1d95cb; font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:47px; text-decoration:none; float:left}
.navigation ul li selected{color:#1d95cb; font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:47px; text-decoration:none; float:left}
.static_img{width:286px; height:auto; float:left; padding:17px 0 0 12px}
.static_cont{width:203px; height:auto; float:left; color:#000; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:26px 0 0 70px}
.left_box{width:475px; height:331px; float:left; background:#FFF; padding:5px; margin-top:40px; border:1px solid #c1c1c1; -webkit-box-shadow: 0px 0px 7px #000;
          -moz-box-shadow: 0px 0px 7px #000;
          box-shadow: 0px 0px 7px #000;}
.img_tab{width:211px; height:127px; float:left; background:#f6f6f6; padding:10px; border:1px solid #c0b3b3}
.img_tab123{width:294px; height:127px; float:left; background:#f6f6f6; padding:10px; border:1px solid #c0b3b3}
.img_tab2{width:211px; height:127px; float:left; background:#f6f6f6; padding:10px; border:1px solid #c0b3b3; margin-left:10px;}
.footer{background:url(/assets/footer_bg.jpg) repeat-x; float:left; height:271px; width:100%; margin-top:0px;}
.footerinner{
    width:100%; 
    height:40px; 
    background:#ccc;
    float:left; 
    text-align:center; 
    color:#536272; 
    font-family:Arial, Helvetica, sans-serif;
    bottom:0;
    position:fixed;
    
}
.footer_hm{width:100%; height:58px; background:#fff url(/assets/footer+new.jpg) no-repeat center top; float:left; text-align:center; color:#536272; line-height:48px; margin-top:0px; font-family:Arial, Helvetica, sans-serif}
.box_1{width:200px; height:auto; float:left; margin:26px 0 0 100px}
.heading{color:#464646; font-size:16px; font-family:Arial, Helvetica, sans-serif; line-height:45px; float:left; width:100%; font-weight:bold}
.num_txt{color:#464646; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:18px}
.brd{width:1px; height:166px; float:left; margin-top:30px}
.box_11{width:335px; height:auto; float:left; margin:13px 0 0 20px}
.box_2{width:130px; height:auto; float:left; margin:13px 0 0 45px}
.box_3{width:155px; height:auto; float:left; margin:13px 0 0 100px}
.ftr_nav ul{width:100%; height:auto; float:left;  margin:0; padding:0; list-style:none}
.ftr_nav ul li{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:18px; text-decoration:none;  padding:0 15px 20px 0px;}
.ftr_nav ul li a{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none; }
.ftr_nav ul li a.hover{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none; }
.ftr_nav ul li a.hover{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none; }

.nwes{width:200px; height:auto; float:left;}
.news_txtbox{width:200px; height:28px; float:left; background:#FFF; border:1px solid #d5d5d5}
.go_btn{width:32px; height:32px; float:left}
.card{width:100%; height:auto; float:left; margin-top:10px}
.bottom{
    width:100%; 
    height:auto; 
    float:left; 
    margin-top:25px;
}
.bottominner{
    width:100%; 
    height:auto; 
    float:left; 
    margin-top:10px;
}
.social{width:470px; height:auto; float:left; color:#464646; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:25px}
.right_nav{width:287px; height:auto; float:right}

.nav_rent ul{width:100%; height:auto; float:left;  margin:0; padding:0; list-style:none}
.nav_rent ul li{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif; border-right:1px solid #464646; line-height:7px; text-decoration:none; margin-top:8px;  padding:0 10px 0 10px; float:left; }
.nav_rent ul li a{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none;  }
.nav_rent ul li a.hover{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none; }
.nav_rent ul li a.hover{color:#464646; font-size:13px; font-family:Arial, Helvetica, sans-serif;  text-decoration:none; }
.nav_rent ul li:last-child{ border-right:none }
.copyright{width:100%; height:auto; float:left; color:#FFF; font-size:12px; font-family:Arial, Helvetica, sans-serif}
.bg_blk{width:100%; height:auto; background:url(/assets/bg_brg.jpg) repeat-x; float:left}
.abt_rb{width:335px; height:auto; float:left; line-height:20px; color:#464646; font-family:Arial, Helvetica, sans-serif; font-size:12px}

.container                                  { /*position: relative;*/ width:995px; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 15px; margin-right: 15px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 40px;  }
.container .two.columns                     { width: 100px; }
.container .three.columns                   { width: 160px; }
.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .seven.columns                   { width: 400px; }
.container .eight.columns                   { width: 460px; }
.container .nine.columns                    { width: 520px; }
.container .ten.columns                     { width: 580px; }
.container .eleven.columns                  { width: 640px; }
.container .twelve.columns                  { width: 700px; }
.container .thirteen.columns                { width: 760px; }
.container .fourteen.columns                { width: 820px; }
.container .fifteen.columns                 { width: 880px; }
.container .sixteen.columns                 { width: 940px; }

.container .one-third.column                { width: 298px; height:271px; background:url(/assets/bg_books.png) no-repeat; margin-top:30px;}
.container .two-thirds.column               { width: 620px; }

/* Offsets */
.container .offset-by-one                   { padding-left: 60px;  }
.container .offset-by-two                   { padding-left: 120px; }
.container .offset-by-three                 { padding-left: 180px; }
.container .offset-by-four                  { padding-left: 240px; }
.container .offset-by-five                  { padding-left: 300px; }
.container .offset-by-six                   { padding-left: 360px; }
.container .offset-by-seven                 { padding-left: 420px; }
.container .offset-by-eight                 { padding-left: 480px; }
.container .offset-by-nine                  { padding-left: 540px; }
.container .offset-by-ten                   { padding-left: 600px; }
.container .offset-by-eleven                { padding-left: 660px; }
.container .offset-by-twelve                { padding-left: 720px; }
.container .offset-by-thirteen              { padding-left: 780px; }
.container .offset-by-fourteen              { padding-left: 840px; }
.container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container                                  { width: 768px; }
    .container .column,
    .container .columns                         { margin-left: 10px; margin-right: 10px;  }
    .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
    .alpha.omega                                { margin-left: 0; margin-right: 0; }

    .container .one.column,
    .container .one.columns                     { width: 28px; }
    .container .two.columns                     { width: 76px; }
    .container .three.columns                   { width: 124px; }
    .container .four.columns                    { width: 172px; }
    .container .five.columns                    { width: 220px; }
    .container .six.columns                     { width: 268px; }
    .container .seven.columns                   { width: 316px; }
    .container .eight.columns                   { width: 364px; }
    .container .nine.columns                    { width: 412px; }
    .container .ten.columns                     { width: 460px; }
    .container .eleven.columns                  { width: 508px; }
    .container .twelve.columns                  { width: 556px; }
    .container .thirteen.columns                { width: 604px; }
    .container .fourteen.columns                { width: 652px; }
    .container .fifteen.columns                 { width: 700px; }
    .container .sixteen.columns                 { width: 748px; }

    .container .one-third.column                { width: 236px; }
    .container .two-thirds.column               { width: 492px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 48px; }
    .container .offset-by-two                   { padding-left: 96px; }
    .container .offset-by-three                 { padding-left: 144px; }
    .container .offset-by-four                  { padding-left: 192px; }
    .container .offset-by-five                  { padding-left: 240px; }
    .container .offset-by-six                   { padding-left: 288px; }
    .container .offset-by-seven                 { padding-left: 336px; }
    .container .offset-by-eight                 { padding-left: 384px; }
    .container .offset-by-nine                  { padding-left: 432px; }
    .container .offset-by-ten                   { padding-left: 480px; }
    .container .offset-by-eleven                { padding-left: 528px; }
    .container .offset-by-twelve                { padding-left: 576px; }
    .container .offset-by-thirteen              { padding-left: 624px; }
    .container .offset-by-fourteen              { padding-left: 672px; }
    .container .offset-by-fifteen               { padding-left: 720px; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container { width: 300px; }
    .container .columns,
    .container .column { margin: 0; }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column  { width: 300px; }

    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .container .columns,
    .container .column { margin: 0; }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { width: 420px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* #Text and button classes
================================================== */


.textbox {
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    font-size: 15px;
    height: 40px;
    line-height: 38px;
    margin: 5px 8px 0 0;
    outline: medium none;
    padding: 1px 4px 1px 3px;
    transition: all 0.2s ease-in-out 0s;
    width: 300px;
}

.blacktext{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    text-decoration:none;
    color:#000;
}
.blackth{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    text-decoration:none;
    font-weight: bold;
    color:#000;
}
.headertext{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    text-decoration:none;
}
.login_main{
    float:left;
    margin:10px 0 0 10px;
    border:1px solid #d5d5d5; 
    width:693px; 
    min-height:300px; 
    text-align: center;
    background-color:#f9f9f9;
}
.grey_m {
    background-color: #E0DDDF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 30px 0 20px 60px;
    padding-bottom: 20px;
    width: 550px;
}
.grey_search {
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 900px;

}
.grey_results {
    float: left;
    padding:10px;
    margin-left:5px;
    margin-top:5px;
    width: 420px;
    border:1px solid #ccc;
}
.txtfld111 {
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    float: left;
    font-size: 13px;
    height: 28px;
    line-height: 24px;
    margin: 5px 8px 0 0;
    outline: medium none;
    padding: 1px 4px 1px 3px;
    transition: all 0.2s ease-in-out 0s;
    width: 240px;
}
.txtfld111:focus{
    box-shadow: 0 0 6px #C5F6FF;
    border:1px solid #D60000;
    color:#D60000;
}
.dottt {
    border-bottom: 1px solid #FFFFFF;
    float: left;
    height: 60px;
    margin: 0;
    width: 100%;
}
.dottt_2 {
    float: left;
    margin: 0;
    width: 500px;
    position:absolute;
}
.log_txt{
    font-family: Verdana, Geneva, sans-serif; 
    font-size:18px;
    color:#fff; 
    margin-left:15px; 
    line-height:35px;
    float:left;
    text-decoration: none;
}
.top_img{
    background:url(/assets/top_bg.png) repeat-x;
    height:35px; 
    width:100%;
}
.frst_name {
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 0 25px;
    width: 250px;
}
.txtfld1112{
    -moz-transition: all 0.2s ease-in-out 0s;
    color:#000;
    border-radius: 4px 4px 4px 4px;
    border:1px solid #fff;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 1px 4px 1px 3px;
    height:70px;
    margin-left: 0px;
    margin-top: 5px;
    width:240px;
}
.txtfld1112:focus{
    box-shadow: 0 0 6px #C5F6FF;
    border:1px solid #D60000;
    color:#D60000;
}
.dottt3{
    margin:0 0 0 0;
    float:left;
    width:100%;
    height:40px;
    background:#b5b4b5;
    border-bottom:1px solid #fff;
}
.why_do{
    float:left; 
    margin:12px 0 0 0; 
    font-family:Arial, Helvetica, sans-serif;
    color:#000;font-weight:bold; 
    font-size:13px; 
    font-style:italic;
}
.login_left{
    float:left;
    margin:10px 0 0 25px;
    border:1px solid #d5d5d5; 
    width:260px; 
    min-height:300px; 
    background-color:#f9f9f9;
    border-radius:4px;
}
.btn_12{
    background-color: #000;
    border: 2px solid #999999;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 23px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.any_ques{
    float:left; width:100%; 
    font-size:18px; 
    margin:20px 0 0 15px; 
    color:#000; 
    font-weight:bold; 
    font-family:Arial, Helvetica, sans-serif;
}
.bor_line{
    float:left; 
    margin:5px 0 0 15px; 
    width:230px; 
    background-color:#CCC; 
    height:1px ;
}
.anch{
    float:left; 
    width:100%; 
    margin:5px 0 0 15px;			
}
.anc{
    color:#000; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    font-weight:bold;
    text-decoration:none;
}
.anc:hover{
    text-decoration:none;
}

.vid{
    float:left; margin:10px 0 0 15px; width:100%;
}
.banr{
    margin:10px 0 0 0;
    float:left;
}
.finput{
    float:left; 
    margin:10px 0 0 0;
}
.red_2{
    color:red; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    vertical-align:center;
    padding:2px;
}
.red{
    color:red; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:left;
    vertical-align:center;
    padding:20px;
    color:red;
}
.rederror{
    color:red; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    padding:20px;
    color:red;
}
.table_tr{
    color:#000; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px;   
    text-decoration:none;
    padding:20px;

}
.greenerror{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:left;
    vertical-align:center;
    padding:20px;
    color:green;
    
}
.green{
    color:green; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:left;
    vertical-align:center;
    padding:20px;
}
.green_msg{
    color:green; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    vertical-align:center;
    padding:20px;
}
.yellow{
    color:#B58227;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:left;
    vertical-align:center;
    padding:20px;
    width:40px;
}
.widgetleft{
    float:left;
    margin:10px 0px 0 0;
    border-top:1px solid #d5d5d5; 
    border-left:1px solid #d5d5d5;
    border-bottom:1px solid #d5d5d5;
    width:250px; 
    min-height:300px; 

    background:url(/assets/sidebar-shadow.png) no-repeat right top;
}
.pic_nav{
    border: 1px solid #D1D1CD;
    color: #333333;
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 0;
    padding: 10px; 
    width: 150px;
    height:250px;
}
.pic_nav2{

    border: 1px solid #BCBBB6;
    height: 100px;
    margin: 0 5px 4px 22px;
    padding: 2px;
    width: 100px;
}
.name_1{
    font-size: 12px;
    height: 10px;
    margin: 10px 0 0 30px;
    width: 100px;
}
.name_2{
    font-size: 11px;
    height: 10px;
    width: 100px;
    margin: 10px 0 0 30px;
}
.box_ds{width:664px; height:auto; float:left; padding:8px; background-color:#efefef; margin-top:15px;}
.bord_dts{background:url(/assets/border_doted.png) repe../imagesat-x; height:3px; width:100%}
.med{
    margin:5px 0 0 0;
    float:left;
    font-size:11px;
    font-family:Verdana, Geneva, sans-serif;
    color:#000;
    width:100%;
}
.button_ref{
    background-color: #B58227;
    border: 1px solid #805812;
    color: #FFFFFF;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    height: 16px;
    line-height: 14px;
    padding: 0 3px;
    text-align: center;
    width: auto;
}
.button_ref:hover{
    background-color: #fff;
    border: 1px solid #000;
    color:#000;
}
.button_ref a:{
    color:#fff;
} 
.mbm_login{width:350px; height:auto; float:left; margin:23px 0 0 56px;}
.txt_box_num{width:300px; height:24px; background:none; border:none; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:12px}
.boxtop{
    float:right;
    clear:both;
    width:150px;
    margin-top: 10px;
}

.styled-select select {
    background: transparent;
    width:335px;
    padding: 0px;
    border:none;
    height: 38px;
    font-size:18px;
    color:#666;
    font-family:Arial, Helvetica, sans-serif;
    float:left;

}
.styled-select {
    width: 315px;
    height: 38px;
    overflow: hidden;
    border:none;
    float:left;
    background:url(/assets/dumyy.jpg) no-repeat right;
}

#choice option { color: black; }
.empty { color: gray; }
.bimage{
    width:150px;
    float: left;
    
}

.bookinfo{
    width:300px;
    float: left;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold;
    text-decoration:none;
    text-align:left;
    padding-top: 15px;
    
}

.text{
	width:300px;
	float:left;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
}
.redmoney{
    padding:20px;
    width:200px;
    text-align: left;
    float:left;
    color:red;
    font-family: Aral, Helvetica, sans-serif; 
    font-size:14px;
}
.tblstructure{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-algn:center;
    margin-top:20px;
}
.tbheading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-algn:center;

    font-weight: bold;
}

.book_name{
	font-family:ethon, Verdana, sans-serif;
	font-size:18px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.book_name:hover{
	text-decoration:underline;
}

.author{
	font-style:italic;
}