<h3>Payment Form</h3>
<br/>
<h4>Requested amount <%= number_to_currency(@requested_amount, :prescision => 2) %></h4>
<br/>
<%= form_tag(pay_admin_user_path(@user)) do %>
  <%= hidden_field_tag :amount, @requested_amount%>
  <br/>
  <%= submit_tag "Pay"  %>
<% end %>
